<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        .row.content {
            height: 450px
        }
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
    </style>
    <title>Booking room</title>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/room">Main</a></li>
                <li><a href="/room/editor" class="active">Booking room</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/room/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
            </ul>
        </div>
    </div>
</nav>

            <div class="container">
                <div th:each="room : ${rooms}">
                <div class="col-md-3">
                        <h4>Number:</h4>
                        <p th:text="${room.number}"/>
                        <p th:text="${room.category}"/>
                        <p th:text="${room.price} +  price"/>
                        <p>Breakfast: 20</p>
                        <hr/>
                </div>
                </div>
            </div>

            <div class="container">
                    <form action="#" th:action="@{/room/editor/submit}" th:object="${choice_room}" method="pos">
                        <p>Enter number of room hear: <input type="text" id="name" th:field="*{number}"/></p>
                        <p>Choose arrival date: <input type="date" name="calendar" th:field="*{arrivalDate}"/></p>
                        <p>Choose departure date: <input type="date" name="calendar" th:field="*{departureDate}"/></p>
                        <p><input type="checkbox" name="option2" value="true" th:field="*{breakfast}"/>Breakfast</p>
                        <button type="submit" class="btn btn-success">book it</button>
                        <hr/>
                    </form>

            </div>

</body>
</html>