<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        .row.content {
            height: 450px
        }
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
    </style>
    <title>Hotel Booking</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/room">Main</a></li>
                <li><a href="/room/editor">Booking room</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/room/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
<p>Your price:</p>
<p th:text="${new_booking_price}"/>
<p th:text="${new_booking}"/>
<p>Your number of room:</p>
<p th:text="${new_booking_number_room}"/>
<p>Your category of room:</p>
<p th:text="${new_booking_category_room}"/>
<p>Your have breakfast:</p>
<p th:text="${new_booking_breakfast}"/>
</div>

</body>
</html>